<div role="tabpanel" class="tab-pane fade in" id="ms-recovery-tab">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group label-floating is-empty" ng-class="vm.credentials.username ? 'is-focused' : '' ">
                <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                          </span>
                    <label class="control-label" for="ms-form-user">Введите логин</label>
                    <input type="text" ng-model="vm.credentials.username" class="form-control"> </div>
            </div>
            <button type="submit" class="btn btn-raised btn-block btn-primary">Отправить</button>
        </fieldset>
    </form>
</div>
<!--<section class="row">-->
  <!--<h3 class="col-md-12 text-center">Восстановить пароль</h3>-->
  <!--<p class="small text-center">Введите логин.</p>-->
  <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">-->
    <!--<form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">-->
      <!--<fieldset>-->
        <!--<div class="form-group" show-errors>-->
          <!--<input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required autofocus>-->
          <!--<div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Введите логин.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="text-center form-group">-->
          <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
        <!--</div>-->
      <!--</fieldset>-->
    <!--</form>-->
  <!--</div>-->
<!--</section>-->
