<section>
  <div class="page-header">
    <h1>Настройки</h1>
  </div>
  <div class="row">
    <nav class="col-sm-4 col-md-4">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="user.settings.profile">Редактировать профиль</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.settings.picture">Изменьть фото профиля</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="user.settings.password">Изменить пароль</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.settings.accounts">Cоц. сети</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-8 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
